<style>
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('http://198.100.181.68/dashboard/static/dashboard/img/spinner2.gif') 50% 50% no-repeat rgb(249,249,249);
    opacity: .8;
}
</style>
<script type="text/javascript">
$(window).load(function() {
    $(".loader").fadeOut("slow");
});
</script>
<div id="testing">{{test_report | safe}}</div>
<script src="/dashboard/static/horizon/lib/jquery/b_jquery.js"></script>
<div class="loader"></div>
